{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    <p>Registrado el {{ user.createdAt|date("d/m/Y") }}</p>
    <p>Ultimo inicio de session: {{ user.lastLogin|date("d/m/Y") }}</p>
    <p><a href="{{ 'edit'|trans }}">Cambiar nombre de usuario</a></p>
    <p><a href="{{ path('fos_user_change_password') }}">Cambiar contraseña</a></p>
</div>
