{% extends ':index/index.html.twig' %}
{% block div %}
<h4 class="titulo-portadas">Novedades</h4>
{% for producto in productos %}
    <div class="row"><a href="{{ path('app_producto_especificacion', {'id' : producto.id}) }}"><span id="novedad-marca">{{ producto.marcas }}</span> <span id="novedad-modelo">{{ producto.modelo }}</span></a></div>
    <div class="row">{{ producto.descripcion }}</div>
    <div class="row img-novedad"><img src="images/upload/{{ producto.urlImagen }}"></div>

{% endfor %}

<div class="row enlace-all-nov"><p><a href="{{ path('app_novedades_index') }}">Ver todas las novedades</a></p></div>
{% endblock %}